<h1>
<hello name="{{ name }}"></hello> 
<p>
 ^̮^ <button>SHEEP</button>    # BONJOUR #     

</p>

<menu></menu>
<router-outlet></router-outlet>

<input [(ngModel)]="input"/> <br />
<button (click)= "verplaats()">Verplaats</button> <br />
<input [(ngModel)]="output" /> <br />
</h1>
<h2>
<p>
༼ つ  ͡° ͜ʖ ͡° ༽つ
</p>
</h2>
<h3> <title>ASS</title>
  <img src="https://c.tenor.com/Tt2EExFZSNoAAAAd/weird-dancing.gif" alt="SHrek"> <img src="https://c.tenor.com/7yyUhKHMbfgAAAAC/shreksophone-saxophone.gifalt="alt= ""> <img src="https://c.tenor.com/zUsPiUP3pQQAAAAd/shrek-dancing.gif" alt="">
</h3>










